<footer class="page-footer font-small blue fixed-bottom mt-5 bg-dark">
  <div class="footer-copyright text-center text-light py-3">
    2020 ©: Alessandro Muniz
     / 
    Repositório: <a href="https://github.com/Alessandro1979-itac/desafio_blog_app" target="_blank">GitHub</a>
  </div>
</footer>